body{
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.ps5-container{
    background-image: url('https://wallpaperaccess.com/full/3012890.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: 100%;
    transition: all 2s;
}


.ps5-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.25em;
    width: 100%;
    height: 100%;
    background-color:rgba(30, 143, 255, 0.25);
}

.xbox-container{
    background-image: url('https://images.alphacoders.com/111/thumb-1920-1113834.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: 100%;
    transition: all 2s;
}

.xbox-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.25em;
    width: 100%;
    height: 100%;
    background-color:rgba(45, 45, 45, 0.5);
}

h1{
    padding: 5px;
}